<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center" style="background-color:pink;">
    <form action="{% url 'delbook' %}" method="POST">
        {% csrf_token %}
            <h1><p>delete-book</p></h1><br>
            <label>book-Name</label><br>
            <input type="text" name="bname">
            <br>
            <input type="checkbox">
            <label>I Have Agree terms and condtions</label><br><br>
            <p>Click on Sign-Up delete Button</p>
            <input type="submit" value="delete-book"><br>
            {{n}}
        {% csrf_token %}
    </form>
</body>
</html>