<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:blue;
        }
    </style>
</head>
<body align="center"style="background-color:pink;">
    <h1><p>Welcome To Library Management System</p></h1>
    <h1><a href="{% url 'template1' %}"><P>Admin-SignUp</P><br></a></h1>
    <h1><a href="{% url 'adlog' %}"><p>Admin Login</p></a></h1><br>
    <h1><a href="{% url 'template2' %}"><p>Student-Login</p><br></h1>
    <h1><a href="{% url 'template3' %}"><P>Student-SignUp</P><br</h1>
   {{n}}<br>
</body>
</html>