<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
</head>
<body align="center" style="background-color:pink;">
    <form action="{% url 'stulog' %}" method="POST">
        {% csrf_token %}
        <h1><p>Student-Login</p></h1>
        <label>Roll-No</label><br>
        <input type="text" name="rollno">
        <br><br>
        <label>Date-of-Birth</label><br>
        <input type="text" name="dob">
        <br><br>
        <p>Click on Log-In Button</p>
        <input type="submit" value="Log-In">
        {% csrf_token %}
    </form>
</body>
</html>